# IDE and environments
.vscode/
.idea/
.venv/
__pycache__/
*.pyc

# ML and Outputs
catboost_info/
ML_tasks/
ML_experiments/
Results/

# Generated Data
AR1_Noise_Exp/
ECG_Noise_Exp/
Lorenz_Noise_Exp/
Roessler_Noise_Exp/
Henon_Noise_Exp/
Real_Noise_Exp/
dataset_out/
*.npz

# Documents
*.pdf
